@import "nib"

[data-layout=display]

  aside
    position fixed
    top 0
    bottom 0
    left 0
    width 240px
    background #242424

  section
    position fixed
    top 0
    bottom 0
    left 240px
    right 0px
    background #1C1C1C
    padding-left 40px

    pre
      color white
      background none !important
      border none !important
      box-shadow none !important
