@import "nib"

[data-layout=display]

  aside
    position fixed
    top 0
    bottom 0
    left 0
    width 240px
    background #242424

    a
      font-size 18px
      color #7BA2BE !important
      text-decoration none

    ul
      padding 15px
      list-style none
      margin 0

      li
        cursor pointer

  section
    position fixed
    top 0
    bottom 50px
    left 240px
    right 0px
    background #242424
    padding-left 15px
    overflow scroll
    border-left 3px dashed #303030

    pre[class*="language-"]
      color white
      background none
      border none
      box-shadow none
      margin 0
      padding 0
